# exclude third-party emacs plugins
/elpa
/eshell
/auto-save-list

#exclude file backups
*~
\#*\#

#Precompiled elisp
*.elc

#Hide personal info
tramp
.

#Projectile stuff
projectile-bookmarks.eld

#I don't even know why this file exists
.org-id-locations
workbench.xmi
calc.el

